* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-text-color: #10cab7;
  --second-text-color: #2c4755;
  --size-head: 57px;
  --second-size-text: 14px;
}

body {
  line-height: 30px;

  font-family: "Montserrat", sans-serif;
}

.main-container .navigator {
  background-color: #fff;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .navigator .sub-nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container .navigator img {
  height: 24px;
}

.main-container .navigator .list {
  position: relative;
}
.main-container .navigator .list img {
  display: block;
  height: 30px;
}

.main-container .navigator .list::before {
  display: block;
  content: "";
  width: 50%;
  height: 15%;
  top: 12px;
  left: 0px;
  position: absolute;
  background-color: #fff;
  transition: 1s;
}

.main-container .navigator .list:hover::before {
  width: 0%;
}

.main-container .navigator .sub-nav .list {
  position: relative;
}
.main-container .navigator .sub-nav .list .pages {
  visibility: hidden;
  top: 40px;
  left: -100px;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.main-container .navigator .sub-nav .list:hover .pages {
  visibility: visible;
}
.main-container .navigator .sub-nav .list a {
  text-decoration: none;
  color: black;
}

.main-container .navigator .sub-nav .list .pages::before {
  display: block;
  content: "";
  position: absolute;

  top: -17px;
  right: 1px;
  border: 10px solid rgb(255, 255, 255);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}

.main-container .navigator .sub-nav .list .pages li {
  font-size: 13px;
  padding: 5px 18px 0px 10px;
  width: 130px;
  background-color: rgb(255, 255, 255);
  transition: padding-left 0.4s;
}
.main-container .navigator .sub-nav .list .pages li:hover {
  padding-left: 17px;
}
.main-container .welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 65px);
  width: 100%;
  background-image: url("../images/landing.jpg");
  background-size: cover;

  gap: 15px;
}

.main-container .welcome h1 {
  color: #10cab7;
  font-size: 50px;
}

.main-container .welcome p {
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  width: 350px;
}
.main-container .overview {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  background-color: #f6f6f6;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: 15px;
  gap: 50px;
}

.main-container .overview .ability img {
  width: 50px;
}

.main-container .overview .ability h2 {
  font-weight: 800;
  font-size: 19px;
}

.main-container .overview .ability p {
  margin: 5px 0;
  width: 90%;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
  opacity: 0.7;
}

.main-container .overview .ability {
  display: flex;

  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.fa-lightbulb,
.fa-bullseye,
.fa-sliders {
  /* background-color: red; */
  color: var(--main-text-color);
}

.servises {
  margin-top: 80px;
}

.servises .head h2,
.portfolio .head h2 {
  color: #ddd;
  font-size: var(--size-head);
  text-align: center;
  font-weight: 900;
  letter-spacing: -1px;
}

.servises .head p,
.portfolio .head p {
  text-align: center;
  color: #8e8e8e;
  margin-top: -5px;
  font-size: var(--second-size-text);
}

.servises .cont-type {
  display: flex;
  flex-direction: column;
}
.servises .types {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 80px;
  gap: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.servises .types .side:last-child {
  display: none;
}

.servises .types .container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
  gap: 10px;
}

.servises .types .container .text p {
  margin-top: 10px;
  font-weight: 300;
  color: rgb(41, 41, 41);
}

.servises .types .container i {
  color: #10cab7;
}

@media (min-width: 768px) {
  .servises {
    margin-top: 80px;
    margin: 80px auto;
    width: 750px;
  }
  .servises .types .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    gap: 20px;
  }
  .servises .head h2 {
    font-size: 83px;
    font-weight: 900;
  }
  .servises .head p {
    font-size: 18px;
    margin: -2px;
    font-weight: 500;
  }
}

@media screen and (min-width: 992px) {
  .servises {
    width: 950px;
    margin: 100px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .servises {
    width: 1190px;
  }
  .servises .types .side:last-child {
    display: block;
    display: flex;
    justify-content: center;
  }
  .servises .types .side:last-child .image {
    position: relative;

    width: 275px;
    height: 400px;
  }
  .servises .types .side:last-child img {
    position: relative;
    margin: 0px auto;
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  .servises .types .side:last-child .image::before {
    position: absolute;
    right: -50px;
    display: block;
    background-color: var(--second-text-color);
    content: "";
    width: 100px;
    height: 130%;
    top: -15%;
  }
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
  width: 100%;
}

.portfolio .container {
  background-color: #f6f6f6;

  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .portfolio .container {
    width: 750px;
    margin: 0px auto;
  }
  .portfolio .container h2
  {
    font-size: 83px;
  }
  .portfolio .container .head  p
  {
    margin-top: -1px;
    font-size: 18px;
  }
}


@media screen and (min-width: 992px) {
  .portfolio .container{
    width: 950px;
    margin: 100px auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .container{
    width: 1200px;
    margin: 100px auto;
  }
}

.portfolio .container .projects {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio .projects .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}

.portfolio .projects .item img {
  object-fit: cover;
  max-width: 100%;
}

.portfolio .projects .item .body {
  padding: 15px 15px 25px 15px;
  height: fit-content;
}

.portfolio .projects .item p {
  margin-top: 5px;

  text-overflow: ellipsis;
  font-weight: 200;
  color: rgb(41, 41, 41);
  font-size: 14px;
}
